<!DOCTYPE HTML>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>restaurant</title>
</head>
<body>

    <footer th:fragment="footer">
        <a href="https://www.facebook.com" target="blank" class="fa fa-facebook"></a>
        <div style="display: inline-block; color: white;">
            H-Szo: 11:00 - 22:00<br>
            V: 11:00 - 20:00
        </div>
        <div id="alkotodiv">
            A weboldalt készítette: <a id="alkoto" target="blank" href="https://www.facebook.com/gabor.szucs.7967/">Szücs Gábor Bálint</a>
        </div>
        <div id="copyright">
            Copyright &copy; 2023 buszbufe.hu
        </div>
    </footer>

</body>
</html>
