<!DOCTYPE HTML>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <meta name="viewport"
        content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>restaurant</title>
</head>

<body>
  <header th:fragment="header" class="d-flex">
    <a href="/" class="float-left">
      <img th:src="@{/img/layout/megallo.jpg}" alt="megallo" width="130px" height="130px">
    </a>
    <div class="align-self-center text-center w-100">
      <a href="/" style="text-decoration: none;">
        <h1  id="headerfelirat">
          Angkor Buszbüfé
        </h1>
      </a>
    </div>
  </header>
</body>
</html>