<!DOCTYPE HTML>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Termékek</title>
    <link rel="icon"  th:src="@{/img/layout/megalloicon.jpg}" type="image/icon-x">

    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" th:href="@{/css/layout.css}"/>
    <link rel="stylesheet" th:href="@{/css/products.css}"/>

</head>
<body>
<div class="container-fluid" id="megjelenites">

    <div th:insert="~{shared/header :: header}"></div>

    <div th:insert="~{shared/navBar :: navbar}"></div>

<div class="body">

    <h3>Termék hozzáadása</h3>

    <div th:if="${success != null}">
        <div th:if="${success}"
             class="alert alert-success"
             role="alert">
            <p>Sikeres művelet végrehajtás!</p>
            <div class="col-md-4 mt-5">
                <div class="form-group">
                    <label for="name">Mentett termék adatai</label>
                </div>
                <div class="form-group">
                    <label for="name">Azonosító</label>
                    <input type="numeric"
                           readonly
                           id="saved_id"
                           th:value="${product != null ? product.id : 0}"
                           class="form-control"/>
                </div>
                <div class="form-group">
                    <label for="name">Név</label>
                    <input type="text"
                           readonly
                           id="saved_name"
                           th:value="${product != null ? product.name : 'Nincs adat'}"
                           class="form-control"/>
                </div>
                <div class="form-group">
                    <label for="saved_valueOfNormal">Normál adag ár</label>
                    <input type="text"
                           readonly
                           id="saved_valueOfNormal"
                           th:value="${product != null ? product.valueOfNormal : 'Nincs adat'}"
                           class="form-control"/>
                </div>
                <div class="form-group">
                    <label for="saved_valueOfBig">Nagy adag ár</label>
                    <input type="text"
                           readonly
                           id="saved_valueOfBig"
                           th:value="${product != null ? product.valueOfBig : 'Nincs adat'}"
                           class="form-control"/>
                </div>
                <div class="form-group">
                    <label for="saved_foodType">Tárolás</label>
                    <input type="text"
                           readonly
                           id="saved_foodType"
                           th:value="${product != null ? product.foodType.value : 'Nincs adat'}"
                           class="form-control"/>
                </div>
                <div class="form-group">
                    <label for="description">Leírás</label>
                    <textarea readonly
                              id="saved_description"
                              th:text="${product != null ? product.description : 'Nincs adat'}"
                              class="form-control"></textarea>
                </div>
            </div>
        </div>
        <div th:unless="${success}"
             class="alert alert-danger"
             role="alert">
            <p>Sikertelen művelet végrehajtás!</p>
            <p th:value="${message}"></p>
        </div>
    </div>

    <div class="row ml-2">
        <div class="col-md-4 mt-3">
            <form method="post"
                  th:action="@{/products/create}">
                <div class="form-group">
                    <label for="name">Név</label>
                    <input type="text"
                           id="name"
                           th:name="name"
                           class="form-control"/>
                </div>
                <div class="form-group">
                    <label for="valueOfNormal">Normál</label> <small>(Ft)</small>
                    <input type="number"
                           id="valueOfNormal"
                           th:name="valueOfNormal"
                           min="50"
                           step="50"
                           class="form-control"/>

                </div>
                <div class="form-group">
                    <label for="valueOfBig">Nagy</label> <small>(Ft)</small>
                    <input type="number"
                           id="valueOfBig"
                           th:name="valueOfBig"
                           min="50"
                           step="50"
                           class="form-control"/>
                </div>
                <div class="form-group">
                    <label for="foodType">Besorolás típusa</label>
                    <select id="foodType"
                            name="foodType"
                            class="form-control form-select">
                        <option th:value="${T(hu.nye.progkor.restaurant.model.FoodType).PIZZA_FOOD}"
                                th:text="Pizza"></option>
                        <option th:value="${T(hu.nye.progkor.restaurant.model.FoodType).OTHER_FOOD}"
                                th:text="Egyéb"></option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="description">Leírás</label>
                    <textarea id="description"
                              th:name="description"
                              class="form-control"></textarea>
                </div>
                <button class="btn btn-primary pt-2"
                        type="submit">Hozzáadás
                </button>
                <a th:href="@{/products/products.html}"
                   class="btn btn-secondary pt-2"
                   type="submit">Mégsem</a>
            </form>
        </div>
    </div>

</div>
    <div th:insert="~{shared/footer :: footer}"></div>

</div>


</body>
</html>
